.page {
  margin: 0 auto;
  background: url(../../images/bg-main-desktop.png) 0px -300px;
  z-index: -100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .page {
    background: url(../../images/bg-main-tablet.png) -300px -300px;
  }
}

@media screen and (max-width: 375px) {
  .page {
    background: url(../../images/bg-main-mobile.png) -300px -300px;
  }
}
