.page {
  margin: 0 auto;
  /* background-image: url(../../images/bg-main-desktop.png);
  background-position-y: -300px; */

  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
