.call-to-action {
  background-color: var(--clr-orange);
  border-radius: 12px;
  max-width: 446px;
  color: var(--clr-light);
  position: absolute;
  top: 90px;
  right: 95px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 58px 59px 48px 54px;
}

.call-to-action__header {
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.3;
}

.call-to-action__text {
  padding-top: 22px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
}

.call-to-action__price {
  padding-top: 39px;
  padding-bottom: 46px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6;
}

.call-to-action__price span {
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 0.8;
  padding-right: 16px;
}

.call-to-action__button {
  height: 61px;
  outline: none;
  border-radius: 12px;
  border: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.ios {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-bottom: 16px;
}

.ios:hover {
  background-color: var(--clr-cyan);
}

.android {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.android:hover {
  background-color: var(--clr-yellow);
}

@media screen and (max-width: 768px) {
  .call-to-action {
    max-width: 399px;
    top: 150px;
    right: 58px;
    padding: 48px 54px 48px 48px;
  }

  .call-to-action__header {
    font-size: 2rem;
    line-height: 1.25;
  }

  .call-to-action__text {
    padding-top: 12px;
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .call-to-action__price {
    padding-top: 36px;
    padding-bottom: 32px;
    font-size: 1.25rem;
  }

  .call-to-action__price span {
    font-weight: 700;
    font-size: 4.0625rem;
  }
}

@media screen and (max-width: 375px) {
  .call-to-action {
    max-width: 375px;
    top: 380px;
    right: 0px;
    padding: 48px 37px 48px 36px;
  }
}
