.header {
  position: relative;
  /* width: 100%; */
  max-width: 1100px;
  width: 100%;
  margin-bottom: 321px;
}

.logo {
  padding: 62px 0 127px;
}

.header__title {
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 40px;
  max-width: 1015px;
}

.header__text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.7;
  max-width: 825px;
}

.header__pattern {
  position: absolute;
  top: -40px;
  right: -170px;
  /* z-index: -1; */
}
